<!DOCTYPE html>
<script src="/javascripts/fmtree.js"></script>
<script src="/javascripts/constraints.js"></script>
<link type="text/css" rel="stylesheet" href="/stylesheets/xtree.css">

<div class="row">
  <div class="span3-5">
    <div class="myBorderRadius">
      <h4 align="center" class="myFont"> Feature Model </h4>
      <div class="myInside" style="border-top:1px solid #c3c3c3;overflow:auto;">
        <script src="/javascripts/loadFMTree.js"></script>
      </div>
    </div>
  </div>

  <div class="span4-5">
    <div class="myBorderRadius">
      <h4 align="center" class="myFont"> Information </h4>
      <div class="myInside" style="padding:0 20px;">
          <h4 class="myh4">Attributes</h4>
          <div class="myInside">
            <table class="table myTableMiddle">
              <tr id="infoLine1" onmouseover="infoLineButton1.className=''" onmouseout="infoLineButton1.className='invisible'">
                <th style="width:80px;">Name:</th>
                <td class="myMiddleMiddle" id="info-name"></td>
                <td>
                  <div class="invisible" style:"padding:0;" id="infoLineButton1">                      
                  </div>
                </td>
              </tr>

              <tr id="infoLine2" onmouseover="infoLineButton2.className=''" onmouseout="infoLineButton2.className='invisible'">
                <th>Description:</th>
                <td class="myMiddleMiddle" id="info-description"></td>
                <td>
                  <div class="invisible" style:"padding:0;" id="infoLineButton2">
                  </div>
                </td>
              </tr>
              <tr id="infoLine3" onmouseover="infoLineButton3.className=''" onmouseout="infoLineButton3.className='invisible'">
                <th>Optionality:</th>
                <td class="myMiddleMiddle" id="info-optionality"></td>
                <td>
                  <div class="invisible" style:"padding:0;" id="infoLineButton3">
                  </div>
                </td>
              </tr>
            </table>
          </div>
        
          <h4 class="myh4">Refinements & Variant Point</h4>
          <div class="myInside">
            <table class="table myTableMiddle">
              <tr id="infoLine4" onmouseover="infoLineButton4.className=''" onmouseout="infoLineButton4.className='invisible'">
                <th style="width:80px;">Parent:</th>
                <td class="myMiddleMiddle" id="info-parent"></td>
                <td>
                  <div class="invisible" style:"padding:0;" id="infoLineButton4">
                  </div>
                </td>
              </tr>
              <tr id="infoLine5" onmouseover="infoLineButton5.className=''" onmouseout="infoLineButton5.className='invisible'">
                <th>VP-Variant:</th>
                <td class="myMiddleMiddle" id="info-VP"></td>
                <td>
                  <div class="invisible" style:"padding:0;" id="infoLineButton5">
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
    </div>
  </div>

  <div class="span4" style="height:1000px;">
    <div class="myBorderRadius">
      <h4 align="center" class="myFont"> Constraints </h4>
      <div class ="myInside" style="height:40px;">
        <table align="center" valign="middle">
          <tr onmouseover="constraints_button_plus.className=''" onmouseout="constraints_button_plus.className='invisible'">
            <td style="width:22px; padding:0px;"></td>
            <td style="height:38.5px; width:302px; padding:0px;">
              <div align="center">
                <img src="images/allGrey.png" id="constraints_all" style="height:26px;"/><img src="images/currentWhite.png" id="constraints_current" style="height:26px;"/>
              </div>
            </td>
            <td style="width:22px; padding:0px;" align="center" id="constraints_button_plus" class="invisible" >
              <i href="#addNewConstraint" data-toggle="modal" class="icon-plus" id="constraint_ads" onclick="AddNewConstraintHandler.addLeftItem(); AddNewConstraintHandler.addRightItem();"></i>
            </td>
          </tr>
        </table>
      </div>
      <div class="myInside" id="constraints_cont">
        <script src="/javascripts/loadConstraints.js"></script>
      </div>
    </div>
  </div>
</div>

<div id="addNewConstraint" class="modal hide fade" style="width:700px; margin-left:-350px;" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="addNewConstraintTitle">Add a New Constraint</h3>
  </div>
  <div class="modal-body" align="center">
    <table>
      <script src="/javascripts/addNewConstraint.js"></script>
      <tr>
        <td id="addNewConstraint_left" class="addNewConstraintItemTable"></td>
        <td id="addNewConstraint_relation" >
          <select class="addNewConstraintRelation">
            <option value="empty">  </option>
            <option value="Aexclude"> A-x- </option>
            <option value="AexcludeA"> A-x-A </option>
            <option value="AexcludeV"> A-x-V </option>
            <option value="Arequire"> A--> </option>
            <option value="ArequireA"> A-->A </option>
            <option value="ArequireV"> A-->V </option>
            <option value="exclude"> -x- </option>
            <option value="excludeA"> -x-A </option>
            <option value="excludeV"> -x-V </option>
            <option value="require"> --> </option>
            <option value="requireA"> -->A </option>
            <option value="requireV"> -->V </option>
            <option value="Vexclude"> V-x- </option>
            <option value="VexcludeA"> V-x-A </option>
            <option value="VexcludeV"> V-x-V </option>
            <option value="Vrequire"> V--> </option>
            <option value="VrequireA"> V-->A </option>
            <option value="VrequireV"> V-->V </option>
          </select>
        </td>
        <td id="addNewConstraint_right" class="addNewConstraintItemTable"></td>
      </tr>
      <tr>
        <td align="center">
          <i class="icon-plus" id="addNewConstraint_left_plus" onclick="AddNewConstraintHandler.addLeftItem();"></i>
        </td>
        <td></td>
        <td align="center">
          <i class="icon-plus" id="addNewConstraint_right_plus" onclick="AddNewConstraintHandler.addRightItem();"></i>
        </td>
      </tr>
    </table>
  </div>
  <div class="modal-footer" style="text-align: center;">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button class="btn btn-primary">Admit</button>
  </div>
</div>