<!DOCTYPE html>
<script src="/javascripts/fmtree.js"></script>
<script src="/javascripts/constraints.js"></script>
<link type="text/css" rel="stylesheet" href="/stylesheets/xtree.css">

<div class="row">
    <div class="span3-5">
      <div class="myBorderRadius">
        <h4 align="center" class="myFont"> Feature Model </h4>
        <div class="myInside" style="border-top:1px solid #c3c3c3;overflow:auto;">
          <script src="/javascripts/loadFMTree.js"></script>
        </div>
      </div>
    </div>

    <div class="span4-5">
      <div class="myBorderRadius">
        <h4 align="center" class="myFont"> Information </h4>
        <div class="myInside" style="padding:0 20px;">
            <h4 class="myh4">Attributes</h4>
            <div class="myInside">
              <table class="table myTableMiddle">
                <tr id="infoLine1" onmouseover="infoLineButton1.className=''" onmouseout="infoLineButton1.className='invisible'">
                  <th style="width:80px;">Name:</th>
                  <td class="myMiddleMiddle" id="info-name"></td>
                  <td>
                    <div class="invisible" style:"padding:0;" id="infoLineButton1">                      
                    </div>
                  </td>
                </tr>

                <tr id="infoLine2" onmouseover="infoLineButton2.className=''" onmouseout="infoLineButton2.className='invisible'">
                  <th>Description:</th>
                  <td class="myMiddleMiddle" id="info-description"></td>
                  <td>
                    <div class="invisible" style:"padding:0;" id="infoLineButton2">
                    </div>
                  </td>
                </tr>
                <tr id="infoLine3" onmouseover="infoLineButton3.className=''" onmouseout="infoLineButton3.className='invisible'">
                  <th>Optionality:</th>
                  <td class="myMiddleMiddle" id="info-optionality"></td>
                  <td>
                    <div class="invisible" style:"padding:0;" id="infoLineButton3">
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          
            <h4 class="myh4">Refinements & Variant Point</h4>
            <div class="myInside">
              <table class="table myTableMiddle">
                <tr id="infoLine4" onmouseover="infoLineButton4.className=''" onmouseout="infoLineButton4.className='invisible'">
                  <th style="width:80px;">Parent:</th>
                  <td class="myMiddleMiddle" id="info-parent"></td>
                  <td>
                    <div class="invisible" style:"padding:0;" id="infoLineButton4">
                    </div>
                  </td>
                </tr>
                <tr id="infoLine5" onmouseover="infoLineButton5.className=''" onmouseout="infoLineButton5.className='invisible'">
                  <th>VP-Variant:</th>
                  <td class="myMiddleMiddle" id="info-VP"></td>
                  <td>
                    <div class="invisible" style:"padding:0;" id="infoLineButton5">
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
      </div>
    </div>

    <div class="span4" style="height:1000px;">
      <div class="myBorderRadius">
        <h4 align="center" class="myFont"> Constraints </h4>
        <div class ="myInside" style="height:40px;">
          <table align="center" valign="middle">
            <tr>
              <td style="height:38.5px;">
                <img src="images/allGrey.png" id="constraints_all" style="height:26px;"/><img src="images/currentWhite.png" id="constraints_current" style="height:26px;"/>
              </td>
            </tr>
          </table> 
        </div>
        <div class="myInside" id="constraints_cont">
          <script src="/javascripts/loadConstraints.js"></script>
          <div id="Constraints_0" style="border-bottom: 1px solid #c3c3c3;">
            <table>
              <tr>
                <td id="Constraints_0_l">
                  <table style="width:130px; text-align:right; padding:10px;margin:5px;">
                    <tr id="Constraints_0_l_0">
                      <td id="Constraints_0_l_0_text" style="align:right;">
                        ~ Random
                      </td>
                    </tr>
                    <tr id="Constraints_0_l_1">
                      <td id="Constraints_0_l_1_text">
                        ~ Input
                      </td>
                    </tr>
                    <tr id="Constraints_0_l_2">
                      <td id="Constraints_0_l_2_text">
                        Graph Display
                      </td>
                    </tr>
                  </table>
                </td>

                <td id="Constraints_0_m" style="width:70px; padding:10px; text-align:center;">
                  <img src="images/VrequireV.png" style="height:10px;" />
                </td>

                <td id="Constraints_0_r" style="">
                  <table style="width:130px; text-align:left; padding:10px;margin:5px;">
                    <tr id="Constraints_0_r_0">
                      <td id="Constraints_0_r_0_text">
                        MST
                      </td>
                    </tr>
                    <tr id="Constraints_0_r_1">
                      <td id="Constraints_0_r_1_text">
                        PST
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

</div>